.menuBar {
    display: flex;
    justify-content: space-between;
    background: #292c2f;
    border: 1px solid orange;

    .logoContainer {
        width: 25%;
        border: 1px solid red;
    }

    .logo {
        width: 100%;
    } // .logo

    .menu {
        color: white;
    }
} // .menuBar

.headerImage {
    // background-image: url("../img/header-background.png");

    img {
        width: 100%;
    }
}